<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p> 
    Splurty was built by <a target="_blank" href="http://github.com/Spartan-626">Kyle</a>
  </p>
  <br/>
  <p>
    With the help of the teaching assistants from the University of Denver, Kyle has built his first ever web application. When asked how he felt, Kyle said, "Wow. This is pretty cool. I'm learning so much and I'm really enjoying the coding experience. I can't wait to develop more cool projects and grow my skills in coding". 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Kyle.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kyle Williamson</h2>
      <br />
      <p>
        Kyle Williamson is an aspiring web developer. He's currently attending an online bootcamp with the University of Denver.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />